<width> 1500px; </width>
height: 1510px;

background: #9F6868;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
z
width: 280px;
height: 198px;
flex-shrink: 0;

background: url(< download 1.png>), lightgray 50% / cover no-repeat;
>
    width: 130px;
    height: 195px;
    flex-shrink: 0;

    background: url(<download (1) 1.png>), lightgray 50% / cover no-repeat;

        width: 180px;
        height: 195px;
        flex-shrink: 0;

        background: url(<watermelon-strawberry-soda-featured-720x720 1.png>), lightgray 50% / cover no-repeat;

            width: 321px;
            height: 201px;
            flex-shrink: 0;

            background: url(<Homemade-Ground-Beef-Lasagna-with-Melted-Cheese-500x375 1.png>), lightgray 50% / cover no-repeat;


                width: 331px;
                height: 294px;
                flex-shrink: 0;

                background: url(<violino-instrumento-de-musica-classica-com-simbolos-de-melodia-em-mancha-roxa_1308-70040 1.png>), lightgray 50% / cover no-repeat;


                    width: 326px;

                    color: #8F2424;
                    text-align: center;
                    font-family: Inter;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;


                    width: 244px;
                    height: 283px;
                    flex-shrink: 0;

                    border-radius: 102px;
                    background: url(<path-to-image>), lightgray 50% / cover no-repeat;

                        width: 509px;
                        height: 157px;
                        flex-shrink: 0;

                        background: url(<path-to-image>), lightgray 50% / cover no-repeat;

                            width: 331px;
                            height: 278px;
                            flex-shrink: 0;

                            background: url(<path-to-image>), lightgray 50% / cover no-repeat;

                                width: 480px;
                                height: 200px;
                                flex-shrink: 0;

                                border: 1px solid #000;
                                background: url(<path-to-image>), lightgray 50% / cover no-repeat;

                                    width: 300px;
                                    height: 184px;
                                    flex-shrink: 0;

                                  background: url(<path-to-image>), lightgray 50% / cover no-repeat;


>