.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #9f6868;
  width: 1915px;
  height: 2044.52px;
  position: relative;
  box-shadow: 0px 5.42px 5.42px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.download-1 {
  width: 379.08px;
  height: 268.06px;
  position: absolute;
  left: 83.94px;
  top: 660.67px;
}
.download-1-1 {
  width: 176px;
  height: 264px;
  position: absolute;
  left: 574.03px;
  top: 668.8px;
}
.watermelon-strawberry-soda-featured-720-x-720-1 {
  width: 243.69px;
  height: 264px;
  position: absolute;
  left: 853px;
  top: 635.26px;
}
.homemade-ground-beef-lasagna-with-melted-cheese-500-x-375-1 {
  width: 434.58px;
  height: 272.12px;
  position: absolute;
  left: 1236.06px;
  top: 660.67px;
}
.violino-instrumento-de-musica-classica-com-simbolos-de-melodia-em-mancha-roxa-1308-70040-1 {
  width: 448.12px;
  height: 398.03px;
  position: absolute;
  left: 48.74px;
  top: 1149.41px;
}
.comidas-e-bebida-que-gosto {
  color: #8f2424;
  text-align: center;
  font: 400 48.74px "Inter", sans-serif;
  position: absolute;
  left: 97.48px;
  top: 495.51px;
  width: 441.35px;
}
.iceland-1979445-cropped-3-1 {
  border-radius: 138.09px;
  width: 330.34px;
  height: 383.14px;
  position: absolute;
  left: 620.06px;
  top: 1149.41px;
}
._700-600-500-series-1200-x-480-691-bc-9-c-80-cb-7-e-38-bbeb-5-ea-0-d-2-b-561-a-31-1 {
  width: 689.1px;
  height: 212.55px;
  position: absolute;
  left: 1072.24px;
  top: 1246.89px;
}
.a-0001976-parts-5-aab-21-fdbd-54-b-1 {
  width: 448.12px;
  height: 376.37px;
  position: absolute;
  left: 48.74px;
  top: 1607.01px;
}
._56122-ookami-mio-shirakami-fubuki-ookami-mio-shirakami-fubuki-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1.35px;
  width: 649.84px;
  height: 270.77px;
  position: absolute;
  left: 1080px;
  top: 1699.26px;
}
.images-1 {
  width: 406.15px;
  height: 249.11px;
  position: absolute;
  left: 568.61px;
  top: 1734.27px;
}
.frame-1 {
  width: 487.38px;
  height: 111.01px;
  position: absolute;
  left: 67.69px;
  top: 966.64px;
  overflow: hidden;
}
.outras-coisas-que-gosto {
  color: #9c3535;
  text-align: center;
  font: 400 48.74px "Inter", sans-serif;
  position: absolute;
  left: -16.25px;
  top: 0px;
  width: 465.72px;
  height: 54.15px;
}
.rectangle-1 {
  background: rgba(102, 7, 7, 0.17);
  border-style: solid;
  border-color: #9c3535;
  border-width: 1.35px;
  width: 525.29px;
  height: 158.4px;
  position: absolute;
  left: 52.8px;
  top: 476.55px;
  filter: blur(2.71px);
}
.rectangle-2 {
  background: rgba(102, 7, 7, 0.17);
  border-style: solid;
  border-color: #9c3535;
  border-width: 1.35px;
  width: 491.44px;
  height: 125.91px;
  position: absolute;
  left: 27.08px;
  top: 970.7px;
  filter: blur(2.71px);
}
.images-1-1 {
  width: 304.61px;
  height: 304.61px;
  position: absolute;
  left: 120.49px;
  top: 100.18px;
}
._3-1-1 {
  width: 151.63px;
  height: 151.63px;
  position: absolute;
  left: 1058.7px;
  top: 70.4px;
}
.ol-sou-o-josue {
  color: #8f2424;
  text-align: center;
  font: 400 48.74px "Inter", sans-serif;
  position: absolute;
  left: 391.26px;
  top: 138.09px;
  width: 885.41px;
  height: 885.41px;
}
._3-2-1 {
  width: 151.63px;
  height: 151.63px;
  position: absolute;
  left: 598px;
  top: 480.26px;
}
._3-3-1 {
  width: 151.63px;
  height: 151.63px;
  position: absolute;
  left: 544.24px;
  top: 958.52px;
} 

@media screen and (max-width: 1000px) {
  #inicio img {
      display: none;
  }
}

@media screen and (max-width: 800px) {
  header {
      padding: 40px 40px 0 40px;
  }
  
  nav ul li {
      padding: 0 10px;
      list-style: none;
      font-size: 18px; 
  }
  
  #inicio {
      padding: 10px 40px;
  }

  #inicio div {
      padding-right: 0px;
  }
  
  #inicio img {
      display: none;
  }
  
  #sobre {
      display: flex;
      flex-direction: column;
      height: 800px;
      padding: 40px 0;
  }
  
  #cursos div {
      display: none;
  }
}


.ribbon {
  position: relative;
  top: -16px;
  right: -706px;
}






